@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.page{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.landing{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.content{
  p{
    font-size: 2vw;
  }
}
.hero{
  height: 100vh;
  width: 100vw;
}

#visual{
  position:absolute;
  bottom: 0%;
  width: 100vw;
}

.mission{
  height: 100vh;
  width: 100vw;;
  /* background-color: #ffffff;
    background-color: #ededed;
 */  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.miss-title{
  color: #081b91;
}
.miss-para{
  color: rgb(37, 37, 37);
  font-size: 1.9vw;
}
.select{
  background-color: #081a91;
}
.stackedcard{
  background-color: #ededed;

}
.button{
  background-color: #4d4c4c;
}
.faq{
  background-color: #ededed;
  color: black;
}

.contact{
  height: 100vh;
  width: 100vw;
  background-color: #ededed;
}

.contact_button{
  background-color: rgb(64, 106, 245);
}